{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "modules": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "env": {
    "test:node": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {"node": "current"}
          }
        ],
        "@babel/preset-typescript"
      ]
    },
    "test:browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "modules": false
          }
        ],
        "@babel/preset-typescript"
      ]
    }
  }
}
