{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "modules": false
      }
    ],
    "@babel/preset-flow"
  ],
  "env": {
    "test:jest": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
